<div class="card">
    <h1 class="h2"><%= review.title %></h1>
    <p>By <%= review.user.email %></p>
    <div><%=  "⭐️" * review.rating %></div>
    <blockquote><%= review.review %></blockquote>
</div>